<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section>
      <div class="container-main">
        <table class="table table-condensed">
          <thead class="bgColor">
            <tr class="vertival">
              <th>Origine</th>
              <th>Vol</th>
              <th class="custom-column">STD</th>
              <th class="custom-column">Status</th>
              <th class="custom-column2">Premier Bag</th>
              <th>Nb de bag</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let arrivalFlight of arrivalFlightData; let index = index"
              class="vertival"
              (click)="openModal(index)"
            >
              <!--Itpc data displayed-->
              <td>{{ arrivalFlight.orig_airport }}</td>
              <td
                [ngClass]="{
                  full: timingVol(arrivalFlight.schedTime) == 1,
                  changed: timingVol(arrivalFlight.schedTime) == 2
                }"
              >
                {{ arrivalFlight.arrivalFlight }}
              </td>
              <td class="custom-column">
                {{ arrivalFlight.schedTime.slice(10) }}
              </td>
              <td class="custom-column">
                {{ arrivalFlight.status }}
              </td>

              <td
                class="custom-column"
                [ngClass]="{
                  blinkEnd: timingBagArr(arrivalFlight.firstBag) == true,
                  blinkArr: timingBagArr(arrivalFlight.firstBag) == false
                }"
              >
                <span>{{ arrivalFlight.firstBag.slice(11) }}</span>
              </td>
              <td>
                {{ arrivalFlight.NumberIn }} sur {{ arrivalFlight.NumberBag }}
              </td>
            </tr>
          </tbody>
        </table>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"
        ></script>
      </div>
    </section>
  </body>
</html>
