<!DOCTYPE html>
<html>
  <head>
    <!--
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  </head>
  <body>
    <section>
      <div class="container-main">
        <table class="table table-condensed">
          <thead class="bgColor">
            <tr class="vertival">
              <th>Origine</th>
              <th>Vol</th>
              <th class="width-250">STD</th>
              <th class="width-250">Status</th>
              <th class="width-150">Premier Bag</th>
              <th>Nb de bag</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let arrivalFlight of arrivalFlightData; let index = index"
              class="vertival"
              (click)="openModal(index)"
            >
              <!--Itpc data displayed-->
              <td>{{ arrivalFlight.orig_airport }}</td>
              <td
                [ngClass]="{
                  blinkEnd:
                    timingVol(arrivalFlight.schedTime) == 1 &&
                    arrivalFlight.status == 'ARR',
                  blinkArr:
                    timingVol(arrivalFlight.schedTime) == 2 &&
                    arrivalFlight.status == 'ARR'
                }"
              >
                {{ arrivalFlight.arrivalFlight }}
              </td>
              <td class="width-250">
                {{ arrivalFlight.schedTime.slice(10) }}
              </td>
              <td class="width-250">
                {{ arrivalFlight.status }}
              </td>

              <td
                class="width-250"
                [ngClass]="{
                  blinkEnd:
                    timingBagArr(arrivalFlight.firstBag) == true &&
                    arrivalFlight.status == 'ARR',
                  blinkArr:
                    timingBagArr(arrivalFlight.firstBag) == false &&
                    arrivalFlight.status == 'ARR'
                }"
              >
                <span>{{ arrivalFlight.firstBag.slice(11) }}</span>
              </td>
              <td>
                {{ arrivalFlight.numberIn }} sur {{ arrivalFlight.numberBag }}
              </td>
            </tr>
          </tbody>
        </table>
        <!--<script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"
        ></script>-->
        <script>
          src = "./assets/js/bootstrap.min.js";
        </script>
      </div>
    </section>
  </body>
</html>
