<div class="modal-header">
  <!--Modal title: name of the orig_airport -->
  <div></div>
  <h4 class="modal-title text-center" *ngIf="itpcUsFlights.length > 0">
    {{ itpcUsFlights[0].orig_airport }}
  </h4>
  <div></div>
</div>
<!---->
<div class="modal-body text-center modal-text" *ngIf="itpcUsFlights.length > 0">
  <!--Vol arriving data-->
  <div>{{ itpcUsFlights[0].arrivalFlight }}</div>
  <div>Prévu à {{ itpcUsFlights[0].schedTime.slice(10) }}</div>
  <div [ngClass]="{ revisedTime: itpcUsFlights[0].schedTime != '-' }">
    Révisé à {{ itpcUsFlights[0].estTime.slice(10) }}
  </div>
  <div>Arrivé à {{ itpcUsFlights[0].arrTime.slice(10) }}</div>
  <div>1 bag à - {{ itpcUsFlights[0].firstBag.slice(11) }}</div>
  <div class="icons">
    <div class="icon-width-80"></div>

    <div>
      <img src="./assets/images/suitcase.png" alt="" class="icon-width-80" />
      <h6>
        {{ itpcUsFlights[0].usBagIn }} photos/
        {{ itpcUsFlights[0].numberBagArr }} BSM
      </h6>
    </div>
    <div class="icon-width-80"></div>
  </div>
  <div class="itpcData" *ngFor="let usFlight of itpcUsFlights">
    <!--US VOL departure detail-->
    <div class="itpcBagNumber">
      <div>{{ usFlight.numberUsBagIn }} / {{ usFlight.numberUsBag }}</div>
    </div>
    <div class="itpcDataCol"></div>
    <div class="itpcUsDetail">
      <div>{{ usFlight.usFlight }}</div>
      <div class="pad-10">{{ usFlight.usDest }}</div>
      <div class="pad-10">{{ usFlight.usEtd }}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-danger"
    data-bs-dismiss="modal"
    (click)="closeModal()"
  >
    Fermer
  </button>
</div>
